.box {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 30px 100%, 0 calc(100% - 30px));
  background-color: inherit;
  display: flex;
  height: 192px;
  width: 48%;
  background: rgba(40, 40, 40, 0.5);
  border-radius: 0px 12px 12px 0px;
  margin: 22px 22px 0 0;
  /* align-items: center; */
}

.name {
  font-family: "Nohemi";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 90%;
  margin-top: 32px;
  margin-left: 26px;
  /* identical to box height, or 29px */

  letter-spacing: -0.01em;

  color: #ffffff;
}

.por {
  font-family: "Nohemi";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 90%;
  margin-top: 12px;
  margin-left: 26px;
  /* identical to box height, or 18px */

  letter-spacing: -0.01em;

  color: #ffffff;
}

.one-liner {
  font-family: "Nohemi";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 135%;
  letter-spacing: 0.02em;

  margin-bottom: 24px;
  margin-left: 26px;
  margin-right: 26px;

  color: #ffffff;

  opacity: 0.7;
}
