.hoverMessage {
  padding: 16px 16px 12px;
  position: absolute;
  
  background: rgba(0, 0, 0, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(24px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 4px;
}
