/* .Marquee {
  box-sizing: border-box;
  padding: 1em;
  color: white;
  font-weight: 300;
  display: flex;
  align-items: center;
  overflow: hidden;
} */

/* .Marquee-content {
  display: flex;
  animation: marquee 10s linear infinite running;
}

.Marquee-content:hover {
  animation-play-state: paused;
} */

/* .Marquee-tag {
  font-size: 64px;
  font-weight: 300;
  width: 700px;
  transition: all 0.2s ease;
} */

/* .Marquee-tag:hover {
  transform: scale(1.1);
  cursor: pointer;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translate(-50%);
  }
} */

#container1 {
  mask-image: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 22.46%,
    #ffffff 77.96%,
    rgba(255, 255, 255, 0) 100%
  );
}

li > div {
  font-size: 64px;
  max-width: none !important;
  opacity: 5;
  color: rgb(73, 70, 70);
  /* margin-left: 400px; */
}

li {
  display: inline-block;
}

li.is-active > div {
  color: white;
  opacity: 100;
}
