.publications {
  box-sizing: border-box;
  position: absolute;
  width: 33%;
  height: 176px;
  left: 8%;
  bottom: 0px;
  background: rgba(69, 69, 69, 0.2);
  backdrop-filter: blur(40px);
  z-index: 10;
  transform: translateY(40px);
  transition-duration: 200ms;

  @media screen and (max-width: 1080px) {
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
}

.publications:hover {
  transform: translateY(0px);
  background: rgba(69, 69, 69, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.projects {
  box-sizing: border-box;
  position: absolute;
  width: 33%;
  height: 320px;
  left: 12%;
  bottom: 0px;
  background: rgba(69, 69, 69, 0.2);
  backdrop-filter: blur(40px);
  z-index: 0;
  transform: translateY(40px);
  transition-duration: 200ms;

  @media screen and (max-width: 1080px) {
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
}

.projects:hover {
  transform: translateY(0px);
  background: rgba(69, 69, 69, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.team {
  box-sizing: border-box;
  position: absolute;
  width: 33%;
  height: 256px;
  left: 41%;
  bottom: 0px;
  background: rgba(69, 69, 69, 0.2);
  backdrop-filter: blur(40px);
  z-index: 20;
  transform: translateY(40px);
  transition-duration: 200ms;

  @media screen and (max-width: 1080px) {
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
}

.team:hover {
  transform: translateY(0px);
  background: rgba(69, 69, 69, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.events {
  box-sizing: border-box;
  position: absolute;
  width: 33%;
  height: 216px;
  left: 57%;
  bottom: 0px;
  background: rgba(69, 69, 69, 0.2);
  backdrop-filter: blur(40px);
  z-index: 30;
  transform: translateY(40px);
  transition-duration: 200ms;

  @media screen and (max-width: 1080px) {
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
}

.events:hover {
  transform: translateY(0px);
  background: rgba(69, 69, 69, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
